.Main-Header {
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #00952a;
    border-bottom: 5px solid #00952a;
}

.Main-Header h1 {
    font-size: 20px;
}

.Main-Header ul {
    display: flex;
    list-style: none;
}

.Main-Header li a{
    text-decoration: none;
    padding: 10px;
    color: #00952a;
    margin: 10px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
}

.Main-Header li a:hover{
    background-color: #00952a;
    color: #fff;
    transition: background 0.5s;
}
